*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: #141414;
  color: white;
}

main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: .1px 0;
}

.isAnimated {
  pointer-events: none;
}