.sectionCategorySlider {
  position: relative;
  margin: 50px 0;
}

.titleCategorySlider {
  color: #e5e5e5;
  font-size: clamp(14px, 1.4vw, 30px);
  margin-bottom: 10px;
  padding-left: calc(clamp(10px, 4vw, 60px) + 2.5px);
}

.sectionCategorySliderContainer {
  margin-top: -160px;
  padding-bottom: 200px;
}

.targetIntersection {
  height: 50px;
  background-color: crimson;
}